<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <h1 class="main-heading">User Book Catalog</h1>
    </div>
    <div class="col-md-12" style="text-align:center;">
    <mat-form-field>
        <mat-chip color="accent" selected = "false">
        <mat-select [(value)]="selectedUser" (selectionChange)="getBooks(selectedUser)">
          <mat-option *ngFor="let user of userList_spliced" [value]="user">
            User {{user}}
          </mat-option>
        </mat-select>
      </mat-chip>
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="demo-border">
      <div class="demo-one row"
        dragScroll
        drag-scroll-y-disabled="true"
        scrollbar-hidden="true"
        (reachesLeftBound)="leftBoundStat($event)"
        (reachesRightBound)="rightBoundStat($event)"
        #nav
        >
        <img *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]" src="https://material.angular.io/assets/img/examples/shiba2.jpg"/>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">left</button>
      <button mat-raised-button color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">right</button>
    </div> -->
  
  <div class="row align-items-end">
    <!-- <div  class="col-md-6 col-lg-3" [ngClass]="animateOnRouteEnter" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
      <mat-card (click)="OnMatCardClickEvent(number)">
          <mat-card-title>Book Name<mat-chip-list><mat-chip color="accent" selected="true">User Rating</mat-chip><mat-chip color="primary" selected="true">Lexile Score</mat-chip></mat-chip-list></mat-card-title>
          
          <mat-card-header style="display: flex;
          justify-content: space-between;">            
              <mat-card-subtitle>
                By Author Name
                <p>Description</p>
              </mat-card-subtitle>
              <div fxFlex></div>
                <button mat-mini-fab color="accent">
                  <mat-icon aria-label="">thumb_up</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                  <mat-icon aria-label="">thumb_down</mat-icon>
                </button>
            </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
            <i class="fa fa-amazon fa-lg"></i> Buy
          </a>
          <a mat-button href="https://github.com/angular/angular" target="_blank">
            <i class="fa fa-bookmark fa-lg"></i> Save
          </a>
        </mat-card-actions>
      </mat-card>
    </div> -->
    <div class="col-md-12 button-row" style="display: flex;
    justify-content: space-between;">
        <button (click)="slickModal1.slickPrev()" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_left</mat-icon></button>  
        <div fxFlex>Top Recommended Books For You</div>
        <button (click)="slickModal1.slickNext()" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_right
          </mat-icon></button>
        
    </div>
    <div class="col-md-12">
      <div style="display: flex;
      justify-content: center;">
          <mat-spinner [hidden] = "!(loader1)" ></mat-spinner>
      </div>
      <ngx-slick class="carousel" #slickModal1="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" >
        <div ngxSlickItem *ngFor="let book of books_rec" class="slide" style="margin:10px;">
              <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
              <mat-card [hidden] = "loader1">
                <img  mat-card-image src="{{book.imUrl}}" alt="Book Photo" style="max-height: 350px;">  
                <mat-card-title (click)="OnMatCardClickEvent(book)">{{book.title|truncate : 20}}<mat-chip-list><mat-chip color="accent" selected="true">Rating:{{book.rating_5|number}}</mat-chip><mat-chip color="primary" selected="true">Lexile:{{book.lexile}}L</mat-chip></mat-chip-list></mat-card-title>
                  
                <mat-card-content >              
                      Authors: <mat-chip-list><mat-chip *ngFor="let author of book.authors" (click)="openLink('https://www.amazon.com/s?url=search-alias%3Daps&field-keywords='+author.name+'+books')">{{author.name|truncate}}</mat-chip></mat-chip-list>
                  </mat-card-content>
                
                <mat-card-actions style="display: flex;
                justify-content: center;">
                    <a mat-icon-button href="https://www.amazon.com/s?url=search-alias%3Daps&field-keywords={{book.title}}" target="_blank">
                      <i class="fa fa-amazon fa-lg"></i>
                    </a>
                    <a mat-icon-button href="#">
                      <i class="fa fa-bookmark fa-lg"></i>
                    </a>
                    <a mat-icon-button href="#">
                      <i class="fa fa-thumbs-up fa-lg"></i>
                    </a>
                    <a mat-icon-button href="#">
                      <i class="fa fa-thumbs-down fa-lg"></i>
                    </a>
                  </mat-card-actions>
              </mat-card>
        </div>
    </ngx-slick>  
    <!-- <ngx-slideshow #carousel1 [cards]="3" [cardSize]="'350px'"  [hidden] = "loader1">
        <li *ngFor="let book of books_rec" style="padding:10px;">  
        <mat-card (click)="OnMatCardClickEvent(0)">
            <img mat-card-image src="{{book.imUrl}}" alt="Book Photo" style="height: 350px;">  
            <mat-card-title>{{book.title|truncate:12}}<mat-chip-list><mat-chip color="accent" selected="true">Rating:{{book.rating_5|number}}</mat-chip><mat-chip color="primary" selected="true">Lexile:{{book.lexile}}L</mat-chip></mat-chip-list></mat-card-title>
              
            <mat-card-content >              
                  Authors: <mat-chip-list><mat-chip *ngFor="let author of book.authors">{{author.name|truncate}}</mat-chip></mat-chip-list>
              </mat-card-content>
            
            <mat-card-actions style="display: flex;
            justify-content: center;">
                <a mat-icon-button href="https://angular.io/docs/ts/latest/" target="_blank">
                  <i class="fa fa-amazon fa-lg"></i>
                </a>
                <a mat-icon-button href="https://github.com/angular/angular" target="_blank">
                  <i class="fa fa-bookmark fa-lg"></i>
                </a>
                <a mat-icon-button href="https://angular.io/docs/ts/latest/" target="_blank">
                  <i class="fa fa-thumbs-up fa-lg"></i>
                </a>
                <a mat-icon-button href="https://github.com/angular/angular" target="_blank">
                  <i class="fa fa-thumbs-down fa-lg"></i>
                </a>
              </mat-card-actions>
          </mat-card>
        </li>
      </ngx-slideshow> -->
      </div>
     

  </div>
  <div style="padding:10px;"></div>
  <div class="row align-items-end">
      <div class="col-md-12 button-row" style="display: flex;
      justify-content: space-between;">
          <button (click)="slickModal2.slickPrev()" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_left</mat-icon></button>  
          <div fxFlex>Books You Have Rated Highly in the Past</div>
          <button (click)="slickModal2.slickNext()" mat-mini-fab color="primary"><mat-icon>keyboard_arrow_right
            </mat-icon></button>
          
      </div>
      <!-- <div class="col-md-12" style="text-align:center;">
      <ngx-slideshow #carousel2 [cards]="3" [cardSize]="'350px'" >
          
        <li *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]" class="col-md-1">  
          
            <mat-card (click)="OnMatCardClickEvent(number)">
                
              <mat-card-title>Book Name<mat-chip-list><mat-chip color="accent" selected="true">User Rating</mat-chip><mat-chip color="primary" selected="true">Lexile Score</mat-chip></mat-chip-list></mat-card-title>
                
              <mat-card-header style="display: flex;
              justify-content: space-between;">            
                  <mat-card-subtitle>
                    By Author Name
                    <p>Description</p>
                  </mat-card-subtitle>
                  <div fxFlex></div>
                    <button mat-mini-fab color="accent">
                      <mat-icon aria-label="">thumb_up</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                      <mat-icon aria-label="">thumb_down</mat-icon>
                    </button>
                </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
                  <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
                    <i class="fa fa-amazon fa-lg"></i> Buy
                  </a>
                  <a mat-button href="https://github.com/angular/angular" target="_blank">
                    <i class="fa fa-bookmark fa-lg"></i> Save
                  </a>
                </mat-card-actions>
            </mat-card>
          </li>
        </ngx-slideshow>
        </div> -->
        <div class="col-md-12">
            <div style="display: flex;
            justify-content: center;">
                <mat-spinner [hidden] = "!(loader2)" ></mat-spinner>
            </div>
            <ngx-slick class="carousel" #slickModal2="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" >
              <div ngxSlickItem *ngFor="let book of books_past" class="slide" style="margin:10px;">
                    <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
                    <mat-card  [hidden] = "loader2">
                      <img   mat-card-image src="{{book.imUrl}}" alt="Book Photo" style="max-height: 350px;">  
                      <mat-card-title (click)="OnMatCardClickEvent(book)">{{book.title|truncate : 20}}<mat-chip-list><mat-chip color="accent" selected="true">Rating:{{book.rating_5|number}}</mat-chip><mat-chip color="primary" selected="true">Lexile:{{book.lexile}}L</mat-chip></mat-chip-list></mat-card-title>
                        
                      <mat-card-content >              
                            Authors: <mat-chip-list><mat-chip  *ngFor="let author of book.authors" (click)="openLink('https://www.amazon.com/s?url=search-alias%3Daps&field-keywords='+author.name+'+books')">{{author.name|truncate}}</mat-chip></mat-chip-list>
                        </mat-card-content>
                      
                      <mat-card-actions style="display: flex;
                      justify-content: center;">
                          <a mat-icon-button href="https://www.amazon.com/s?url=search-alias%3Daps&field-keywords={{book.title}}" target="_blank">
                            <i class="fa fa-amazon fa-lg"></i>
                          </a>
                          <a mat-icon-button href="#">
                            <i class="fa fa-bookmark fa-lg"></i>
                          </a>
                          <a mat-icon-button href="#">
                            <i class="fa fa-thumbs-up fa-lg"></i>
                          </a>
                          <a mat-icon-button href="#">
                            <i class="fa fa-thumbs-down fa-lg"></i>
                          </a>
                        </mat-card-actions>
                    </mat-card>
              </div>
          </ngx-slick>  
        
            
          <!-- <ngx-slideshow #carousel2 [cards]="3" [cardSize]="'350px'"  [hidden] = "loader2">
              <li *ngFor="let book of books_past" style="padding:10px;">  
              <mat-card (click)="OnMatCardClickEvent(0)">
                  <img mat-card-image src="{{book.imUrl}}" alt="Book Photo" style="height: 350px;">  
                  <mat-card-title>{{book.title|truncate:12}}<mat-chip-list><mat-chip color="accent" selected="true">Rating:{{book.rating_5|number}}</mat-chip><mat-chip color="primary" selected="true">Lexile:{{book.lexile}}L</mat-chip></mat-chip-list></mat-card-title>
                    
                  <mat-card-content >              
                        Authors: <mat-chip-list><mat-chip *ngFor="let author of book.authors">{{author.name|truncate}}</mat-chip></mat-chip-list>
                    </mat-card-content>
                  
                  <mat-card-actions style="display: flex;
                  justify-content: center;">
                      <a mat-icon-button href="https://angular.io/docs/ts/latest/" target="_blank">
                        <i class="fa fa-amazon fa-lg"></i>
                      </a>
                      <a mat-icon-button href="https://github.com/angular/angular" target="_blank">
                        <i class="fa fa-bookmark fa-lg"></i>
                      </a>
                      <a mat-icon-button href="https://angular.io/docs/ts/latest/" target="_blank">
                        <i class="fa fa-thumbs-up fa-lg"></i>
                      </a>
                      <a mat-icon-button href="https://github.com/angular/angular" target="_blank">
                        <i class="fa fa-thumbs-down fa-lg"></i>
                      </a>
                    </mat-card-actions>
                </mat-card>
              </li>
            </ngx-slideshow> -->
            </div>

  
    </div>
  
</div>
